@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.6em;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: rgb(219, 219, 219);
  border-radius: 1em;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(219, 219, 219);
}

#headerBackground {
  background-color: #0d253f;
}

@media only screen and (max-width: 1024px) {
  iframe {
    width: 600px;
    height: 500px;
  }
}

@media only screen and (max-width: 600px) {
  iframe {
    width: 400px;
    height: 300px;
  }
}

@media only screen and (max-width: 416px) {
  iframe {
    width: 320px;
    height: 300px;
  }
}
